<!DOCTYPE html>
<html>
<head>
    <title>Layouts</title>
    <meta charset="utf-8" />
</head>
<body>
  <div id="template-setting">
    <form id="basic-setting">
      <fieldset>
        <legend>Layouts</legend>
        <label for="triRows-fluid">triRows-fluid</label><input type="radio" name="layouts" value="1" data-template-name="triRows-fluid" checked>
      </fieldset>
    </form>
  </div>
<script type="text/javascript">
  $('#template-setting form input[type="radio"]').change(function(){
    var layout = $('form input[type="radio"]:checked').val() ;
  });
  var insertTemplate = function(parent, path) {
    parent = typeof parent !== 'undefined' && parent !== "" ? parent : $('#template-main');
    var target = $('#template-setting form#basic-setting');
    if(target.length !== 0) {
      var template = Handlebars.getTemplate(path + target.find('input[type="radio"]:checked').data('template-name'));
      if(template !== undefined){
        $(parent).find('.template-placeHolder').remove();
        $(parent).append($.trim(template(createData($('form[id^="setting"]')))));
      }
    }
  }

  function createData(obj) {
    var data = {};
    obj.each(function(){
      if(data[$(this).attr('id')] === undefined) {
        var top = {};
        if($(this).data('setting-type') === "style") {
          var style = "";
          $(this).children('input').each(function(){
            if($(this).val() != "") {
              style = style + $(this).attr('name') + ":" + $(this).val() + ";";
            }
          });
          top['style'] = style;
        }
      }
      data[$(this).attr('id')] = top;
    });
    return data;
  }
</script>
</body>
</html>
